.gallery {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infoContainer {
    margin: 8rem 2.5rem 0 2.5rem;
    flex: 3;
    max-width: 28.75rem;
}

.title {
    margin-bottom: 1rem;
}

.description {
    min-width: 17.5rem;
}

@media screen and (max-width: 900px) {
    .gallery {
        flex-direction: column;
        row-gap: 1.5rem;
        align-items: center;
    }

    .infoContainer {
        max-width: none;
        margin: 0;
    }
}